<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main class="container">
        <div class="box__section text-center">
            <h1>This page request is not found!</h1>
        </div>
    </main>
</body>
</html>